{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('css/Register.css')}}" >{% endblock %}
{% block body %}
    <div class="container col-8 mt-2 MyRegister">
        <h1>Register</h1>
         {% for message in app.flashes('Registry') %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% endfor %}
            {{ form_start(registrationForm) }}
            <div class="row ">
                <div class="col-4">
                    {{ form_row(registrationForm.firstname,)}}
                </div>
                <div class="col-4">
                    {{ form_row(registrationForm.lastname)}}
                </div>
                <div class="col-4">
                    {{ form_row(registrationForm.tel)}}
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    {{ form_row(registrationForm.gender)}}
                </div>
                <div class="col-6">
                    {{ form_row(registrationForm.BirthDay)}}
                </div>
            </div>
            <div class="row ">
                <div class="col-12">
                    {{ form_row(registrationForm.email)}}
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    {{ form_row(registrationForm.plainPassword.first) }}
                </div>
                <div class="col-6">
                    {{ form_row(registrationForm.plainPassword.second) }}
                </div>
            </div>

            {{ form_end(registrationForm) }}
        
    </div>
{% endblock %}