{% extends 'base.html.twig' %}

{% block title %}My Product{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('css/Product.css')}}" >{% endblock %}
{% block body %}
<div class="container">
   <h1>Delete Product</h1>
{% for message in app.flashes('DelProduct') %}
    <div class="alert alert-danger text-center">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('DelProductSuccess') %}
    <div class="alert alert-success text-center">
        {{ message }}
    </div>
{% endfor %}
    <div class="row"> 
        <div class="col-12 col-md-6">
            {{dump(Product)}}
        </div>
        <div class="col-12 col-md-6">
            <form action="{{path('app_del_products',{'slug':Product.ProdSlug,'id':Product.id})}}" method="post" onsubmit="return confirm('Are you sure you want to delete Your Shop?');">
                <div class="mb-3">
                    <input name="PlainPassword" placeholder="Confirm Your Password" type="password" class="form-control" id="">
                </div>
                <input type="hidden" name="tokenDeleteProd" value="{{ csrf_token('deleteProd') }}"/>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>    
        </div>
    </div>  
</div>
{% endblock %}