{% extends 'base.html.twig' %}

{% block title %}My Product{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('css/Product.css')}}" >{% endblock %}
{% block body %}
<div class="container">
   <h1>Products</h1>

   {% for message in app.flashes('ModShopsucces') %}
    <div class="alert alert-success text-center">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('deleteProdSucces') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
<div class="row">
    <div class="col-lg-3 FilterAdminSticky">
        {{form(FilterForm)}}
    </div>
    <div class="col-lg-9">
            <div class="row border border-3">
                {% for Product in AllProducts %}

                        <div class="col-12 col-md-6 col-lg-4">
                                <div class="Admin-product-card">
                                <div class="HeadCard-Admin-product-card">
                                    <img src="{{ asset('uploads/ProdSingelImg/' ~ Product.ProdImgView) }}" alt="Product" style="width:100%">
                                </div>
                                <div class=" p-2 BodyCard-Admin-product-card position-relative {{ Product.status ? '' :'UnvisibaleProduct'}} ">
                                    <h4 class="titel" ><b>{{Product.ProdName}}</b></h4>
                                    <p class="desc">{{Product.ProdDescription}}</p> 
                                    <h5 class="price">{{Product.ProdPrice}} <span>TND</span></h5>
                                    <div class="ButtonAction">
                                        <a href="{{path('app_view_product',{'slug':Product.ProdSlug,'id':Product.id})}}"><button type="button" class="btn btn-info">View</button></a>
                                        <a href="{{path('app_mod_products',{'slug':Product.ProdSlug,'id':Product.id})}}"><button type="button" class="btn btn-warning">Modify</button></a>
                                        <a href="{{path('app_del_products',{'slug':Product.ProdSlug,'id':Product.id})}}"><button type="button" class="btn btn-danger">Delete</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                {% endfor %}
        </div>
    </div>
</div>
   


</div>

{% for SubCat in saif %}
    <div class="SubCategoryJsonFilter d-none" data-subcategory="{{ SubCat.MyToString }}"></div>
{% endfor %}

{% endblock %}
