{% extends 'base.html.twig' %}

{% block title %}My Product{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('css/Product.css')}}" >{% endblock %}
{% block body %}
<div class="container">
   <h1>Add Product</h1>
{% for message in app.flashes('ModProduct') %}
    <div class="alert alert-danger text-center">
        {{ message }}
    </div>
{% endfor %}
 {{ form_start(form) }}
<input type="hidden" name="tokenModProduct" value="{{ csrf_token('ModProduct')}}"/>
            <div class="row ">
                <div class="col-6">
                    {{ form_row(form.ProdName,)}}
                </div>
                <div class="col-6">
                    {{ form_row(form.category)}}
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    {{ form_row(form.ProdPrice)}}
                </div>
                <div class="col-6">
                    {{ form_row(form.ProdIllustarion)}}
                </div>
            </div>
            <div class="row ">
                <div class="col-12">
                    {{ form_row(form.ProdDescription)}}
                </div>
            </div>
            <div class="row ">
                <div class="col-12">
                    {{ form_row(form.status)}}
                </div>
            </div>
             <div class="row ">
                <div class="col-12">
                    {{ form_row(form.Add)}}
                </div>
            </div>
{{ form_end(form) }}
        
</div>
{% endblock %}