{% extends 'base.html.twig' %}

{% block title %}User Modify{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('css/UserInfo.css')}}">{% endblock %}
{% block body %}
<div class="container">
{% for message in app.flashes('ModifyAccountUser') %}
    <div class="alert alert-danger text-center">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('ModifyAccountUserSucces') %}
    <div class="alert alert-success text-center">
        {{ message }}
    </div>
{% endfor %}
    <div style="box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%); " class="row p-4">
        <div class="col-12 ">
            {{ form_start(form) }}
                <input type="hidden" name="tokenModUser" value="{{ csrf_token('ModUser')}}"/>
                <div class="row">
                    <div class="col">
                        <div class="input-icons">
                            <i class="fas fa-user"></i>
                            {{ form_row(form.FirstName) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-icons">
                            <i class="fas fa-user"></i>
                            {{ form_row(form.LastName) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-icons">
                            <i class="fas fa-venus-mars"></i>
                            {{ form_row(form.gender) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.BirthDay) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.ProfilePhoto) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-icons">
                            <i class="fas fa-phone-square-alt"></i>
                            {{ form_row(form.Tel) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-icons">
                            <i class="fas fa-map-marker-alt"></i>
                            {{ form_row(form.address) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-icons">
                            <i class="fas fa-briefcase"></i>
                            {{ form_row(form.Job) }}
                        </div>
                    </div>
                    <div class="col">
                       <div class="input-icons">
                            <i class="fas fa-building"></i>
                            {{ form_row(form.jobbingBei) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-icons">
                            <i class="fas fa-globe-africa"></i>
                            {{ form_row(form.website, { 'attr': {'value': socialLinks.Website}}) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-icons">
                            <i class="fab fa-github"></i>
                            {{ form_row(form.github, { 'attr': {'value': socialLinks.Github}}) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-icons">
                            <i class="fab fa-linkedin"></i>
                            {{ form_row(form.linkedin, { 'attr': {'value': socialLinks. Linkedin}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-icons">
                            <i class="fab fa-instagram"></i>
                            {{ form_row(form.instagram, { 'attr': {'value': socialLinks.Instagram}}) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-icons">
                            <i class="fab fa-facebook"></i>
                            {{ form_row(form.facebook, { 'attr': {'value': socialLinks.Facebook}}) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-icons">
                            <i class="fab fa-twitter"></i>
                            {{ form_row(form.twitter, { 'attr': {'value': socialLinks.twitter}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.Bio) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.pwd) }}
                    </div>

                    <div class="col my-auto">
                        {{ form_row(form.Update) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
